.Well__container {
  margin: 15px 0;
  position: relative;
  background-color: #fff;
  border: 1px solid #ed7d1a;
  border-radius: 3px;

  &::before,
  &::after {
    position: absolute;
    top: 14px;
    right: 100%;
    left: -16px;
    display: block;
    width: 0;
    height: 0;
    pointer-events: none;
    content: ' ';
    border-color: transparent;
    border-style: solid solid outset;
  }

  &::before {
    border-width: 8px;
    border-right-color: #ed7d1a;
  }

  &::after {
    margin-top: 1px;
    margin-left: 2px;
    border-width: 7px;
    border-right-color: #fff;
  }
}
