.PivotalStory__container {
  min-height: 44px;
}

.PivotalStory__logo {
  margin-left: -60px;
}

.PivotalStory__body {
}

.PivotalStory__name {
  height: 44px;
  font-size: 14px;
  line-height: 44px;
  padding: 0 15px;
}

.PivotalStory__id {
  color: #a3aab1;
  font-weight: 400;

  &::before {
    content: '#';
    font-weight: 400;
  }
}

.PivotalStory__description {
  padding: 15px;
  border-top: 1px solid #e1e4e8;
  font-size: 14px;
  line-height: 1.3;
}
